@import url(https://fonts.googleapis.com/css?family=Nunito);

.tabelaStatus{
	width:80% !important;
	margin-left: 10%;
	background-color: white !important;
	text-align: center;
	border: 2px solid black; 
}
table,td {
  border: 1px solid black !important;
}
.title{
	color:#01DF74;
	text-align: center;
	font-size: 50px;
	font-family: Ubuntu;
	font-weight: bold;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #262626;
	margin-bottom: 2%;
}
.table .thead-dark th{
	background-color: #01DF74 !important;
	border: 0;
}

.btn-success{
	font-size:18px;
}
.py-4{
	margin-bottom: 20%;
}
.btn-doador{
	margin-right: .5%;
	background-color: #17a2b8 !important;
	border: 1px solid #0058a6 !important;
	font-weight: bold !important;
}
.btn-doador:hover{
	background-color: #157eb3 !important;
}
.btn-sou{
	font-weight: bold !important;	
}
