/*  html,body{
    background-image: url('/img/fundeca.png');
    background-repeat: no-repeat;
    background-size: 70%;
    margin: auto;
    background-position:40% 30%;
    background-attachment:fixed; 
    width: 100%;
    overflow-x: hidden; 
    font-family: geometric;
    src: url('../fonts/Geometric 415 Black BT.ttf');
    background-color: #ebeced;
  }
  */
  .m-2{
    display: flex;
    justify-content: center;
  }

  #card-fundo{
  background-image: linear-gradient(to bottom right,#bbbff5, #bbbff5);
  height: 50%;
  }

.report-module{
  border-style: ridge;
  border-radius:0.4em;
  padding: 1em;
   background-color: rgba(214, 224, 226, 0.9);
}
#logo-icon{

position: center;
margin-top: 1em;
}
.container:hover .overlay {
  opacity: 1;
}

.report-module:hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.pulse{
  animation: pulse 0.7s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(80%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(120%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(138%);
  }
}
@-webkit-keyframes fadeIn {

0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }

}
.fadeIn {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}