  @font-face {
  font-family: Lovelo_Black;
  src: url(../fonts/Lovelo_Black.otf);
  }
  body {
   width:100%;
   background: url('../img/fundo_criancas.jpg') no-repeat;
   background-size: cover;
   background-position: center;
  }
  a{
    color:#212529;
    font-weight: bolder;
  }
  a:hover{
    color:#212529;
  }

  .titulo{
    color: #42f486;
    font-size: 80px;
    text-shadow: 3px 3px #000;
    text-align: center;
  }

  .texto_doacao{
    color:white;
    padding: 15%; 
    top: 0;
    font-family: Lovelo_Black;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 2px #303030, 0 0 1em #303030, 0 0 0.2em #303030;
  }

  .link{
    color: #42f486;
  }
  .link:hover{
    color: #42f486;
    text-decoration: none;
    text-shadow: 1px 1px 2px #146d2c, 0 0 1em #146d2c, 0 0 0.2em #146d2c;
  }

  @media (min-width: 0px) and (max-width: 520px) {
    .texto_doacao{
      font-size: 15px;
    }
    .titulo{
      font-size: 50px;
    }


  }
  .pt-4, .py-4 {
    padding-top: 0rem!important;
  }
  .pb-4, .py-4 {
    padding-bottom: 0rem!important;
  }
