.interna_sobre {
	margin-top: 110px;
	background: url("../img/about.jpeg") no-repeat center;
	position: relative;
	background-size: cover;
}
.interna_sobre:before{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
}
.subtitulo-interno{
	color: #5BA479 !important;
}
.subtitulo-interno:after {
    background-color: #5BA479 !important;
}
.missao_sobre {
	padding-top: 60px;
}
.missao_sobre p {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 60px
}

.missao_sobre ul li {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 30px;
}

.foto-equipe {
	padding-top: 20px;
}