 .centered {
    margin: 0 auto !important;
    float: none !important;


  }
  h5{
    color: black;
  } 
  body{
    background-image: url('../img/fundeca.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position:100% 4%;
    background-attachment:inherit; 
    
  }
  #card-fundo{
    float:right; margin-top:32em; 
    background-color:rgba(0, 0, 0, 0.1);
     max-width:40em;
  }
.report-module{
  border-style: ridge;
  border-radius:0.4em;
  padding: 1em; 
  background-color: rgba(214, 224, 226, 0.3);
}
.report-module{
  border-style: ridge;
  border-radius:0.4em;
  padding: 1em;
   background-color: rgba(214, 224, 226, 0.3);
}